body{
  
}
h2{
    text-align:center;
}
h1{
    font-size:50px;
    text-align:left;
}
.left-border{
    20px solid orange;
}
p{
    text-align:justify;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 200px;
}
.half-width{
    width: 50%;
    padding-left:120px;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding :10px 40px;
    color: white;
    font-weight: 700;
    border-radius : 5%;
}
.left-align{
    text-align:justify;
    padding:10px;
    margin-left:0;

}
.design-item{
    border-left: 5px solid tomato;
    }
    .center{
        text-align: center;
    }
   
